@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
/* header */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(26, 25, 25);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#login {
  background-color: rgb(0, 140, 255);
}

/* Cuando un suario esta logueado */

#logueado{
    color: white;
    text-align: center;
    padding: 14px 36px;
}

/* Alta usuario */
#main-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100%;  
    
}
#form-alta{
   margin-top: 100px;
    width: 540px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
}
#c-usuario{
    width: 120px;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(53, 130, 245);
    border: rgb(53, 130, 245);
    font-size: 16px;
    color: white;
    border-radius: 6px;
    float: right;
}

.inp{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 500px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid rgb(34, 34, 34);
}
.lbl{
    font-size: 18px;
}
/* pagina de nueva asignatura */

select {
    width: 500px;
    height: 35px;
}
select:focus {
    min-width: 500px;
    width: auto;
    height: 35px;
}    